#gallery {
    line-height:0;
    -webkit-column-count:4; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    column-count:4;
    column-gap:5px;
 }

 #gallery img {
    width:   100% !important;
    height: auto !important;
    margin-bottom:5px; /* to match column gap */
    filter: none;
    transition: filter 2s;
 }

 #gallery img:hover {
    filter: grayscale(100%);
    transition: filter 2s;
 }



