/* body{

    background-color:black
} */

.homepage {

    background-image: url(https://wallpapercave.com/wp/wp4893878.jpg);
    height: 100vh;
    background-size: cover;
    }

/* html {
    font: 5vmin/1.3 Serif;
    overflow: hidden;
    background: #123;
  }
  
  .homepage,
  head {
    display: block;
    font-size: 52px;
    color: transparent;
  }
  
  head::before,
  head::after,
  .homepage::before,
  .homepage::after {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    content: ".";
    mix-blend-mode: screen;
    animation: 44s -27s move infinite ease-in-out alternate;
  }
  
  .homepage::before {
    text-shadow: 2.4568698588em -0.2233678255em 7px rgba(255, 214, 0, 0.9), 1.6432754436em 2.1589322571em 7px rgba(0, 255, 74, 0.9), 0.0606123235em -0.4169647859em 7px rgba(255, 148, 0, 0.9), 0.376014948em -0.4385468933em 7px rgba(255, 0, 81, 0.9), 1.132003123em 0.9409610087em 7px rgba(195, 255, 0, 0.9), 0.1877840001em -0.4346155954em 7px rgba(15, 0, 255, 0.9), -0.3130193998em 0.1560746133em 7px rgba(255, 13, 0, 0.9), -0.3667592129em 0.417514066em 7px rgba(0, 41, 255, 0.9), 2.1125442508em 0.0463160254em 7px rgba(22, 0, 255, 0.9), -0.0113756676em 1.5350499746em 7px rgba(220, 255, 0, 0.9), 0.2244509323em 0.0908192087em 7px rgba(255, 0, 181, 0.9), 0.0569213577em 0.050631718em 7px rgba(105, 0, 255, 0.9), 2.019179082em 0.9562170826em 7px rgba(0, 128, 255, 0.9), 2.0866944862em 0.5849291051em 7px rgba(255, 48, 0, 0.9), 0.9784908892em 1.461184675em 7px rgba(213, 0, 255, 0.9), 2.2324301602em 0.9544487084em 7px rgba(255, 0, 173, 0.9), 2.2298802621em 1.7676388469em 7px rgba(255, 94, 0, 0.9), 1.789870519em 1.2236927893em 7px rgba(76, 255, 0, 0.9), 2.2312727682em 0.2866006679em 7px rgba(255, 0, 28, 0.9), 1.9081753937em -0.1026743318em 7px rgba(0, 74, 255, 0.9), 0.9200550707em 0.1915642718em 7px rgba(0, 210, 255, 0.9), 0.379689443em 1.5646266289em 7px rgba(255, 0, 189, 0.9), 1.0437918285em 0.1550005658em 7px rgba(0, 255, 67, 0.9), 0.3675526794em 0.57294635em 7px rgba(255, 0, 57, 0.9), 2.1485781582em 0.5502083186em 7px rgba(255, 0, 5, 0.9), 1.2876269492em 1.2398567031em 7px rgba(255, 0, 77, 0.9), -0.0648819471em 0.9081578303em 7px rgba(0, 255, 71, 0.9), -0.0595400679em 0.5019771101em 7px rgba(0, 255, 223, 0.9), -0.3813282926em 0.3281127971em 7px rgba(0, 164, 255, 0.9), 0.3348488417em 0.2838475261em 7px rgba(153, 0, 255, 0.9), 2.4934101612em 1.1576687259em 7px rgba(0, 178, 255, 0.9), 0.472409961em 1.0891832173em 7px rgba(0, 62, 255, 0.9), 2.3373700983em 2.1273173203em 7px rgba(0, 51, 255, 0.9), -0.436494489em 1.7834462154em 7px rgba(0, 255, 236, 0.9), 1.7723519205em 0.875647681em 7px rgba(47, 255, 0, 0.9), 0.6190978543em 2.4578656907em 7px rgba(255, 0, 15, 0.9), 0.8231503158em 1.8757635167em 7px rgba(192, 0, 255, 0.9), 1.1743977869em 1.2845726709em 7px rgba(176, 0, 255, 0.9), 1.4114361826em 0.3785865779em 7px rgba(255, 0, 39, 0.9), 0.4140553452em 0.998140619em 7px rgba(0, 101, 255, 0.9), 0.8259448733em -0.1766457733em 7px rgba(20, 0, 255, 0.9);
    animation-duration: 44s;
    animation-delay: -27s;
  }
  
  .homepage::after {
    text-shadow: 1.4842737363em 0.8784292312em 7px rgba(255, 148, 0, 0.9), 1.6951094281em 0.5889922373em 7px rgba(198, 255, 0, 0.9), 2.306695531em -0.1282734516em 7px rgba(255, 231, 0, 0.9), -0.2625217996em 0.1319899657em 7px rgba(159, 255, 0, 0.9), 0.1540996626em -0.0118629418em 7px rgba(103, 255, 0, 0.9), 0.0494066225em 2.1822703677em 7px rgba(141, 0, 255, 0.9), 1.2139790197em 2.2843535216em 7px rgba(0, 67, 255, 0.9), 1.5496428703em -0.4707445372em 7px rgba(255, 0, 236, 0.9), 1.1272605595em -0.1965118787em 7px rgba(0, 255, 110, 0.9), -0.2218583535em 1.7383051426em 7px rgba(255, 0, 8, 0.9), 1.8106738991em 0.1837651756em 7px rgba(0, 255, 110, 0.9), 1.9359838621em 2.2432901596em 7px rgba(255, 0, 140, 0.9), 0.9234721007em 0.6989230994em 7px rgba(0, 98, 255, 0.9), 2.1137887729em 2.3311269425em 7px rgba(255, 239, 0, 0.9), 0.2983495983em 2.2820200777em 7px rgba(0, 255, 171, 0.9), 0.1331031305em 2.0139213463em 7px rgba(255, 177, 0, 0.9), 2.1580792059em 1.1478066873em 7px rgba(0, 255, 199, 0.9), -0.1576382268em 0.1156339782em 7px rgba(105, 255, 0, 0.9), 0.2832480225em -0.1727139573em 7px rgba(0, 148, 255, 0.9), 0.0696789248em 0.0083063386em 7px rgba(202, 0, 255, 0.9), 2.4058591352em 1.9319778526em 7px rgba(255, 175, 0, 0.9), 2.2143930939em 0.4862148818em 7px rgba(0, 255, 20, 0.9), 1.9730921533em 1.7746449544em 7px rgba(43, 255, 0, 0.9), 2.2333502991em 1.9499123555em 7px rgba(255, 0, 189, 0.9), -0.3128950914em 1.2821006061em 7px rgba(255, 47, 0, 0.9), 0.8897010964em -0.1894243642em 7px rgba(80, 255, 0, 0.9), -0.3320714131em 1.2261137363em 7px rgba(5, 0, 255, 0.9), 1.1425446416em -0.2714628443em 7px rgba(0, 255, 254, 0.9), -0.3371604508em -0.0342221258em 7px rgba(168, 0, 255, 0.9), 0.0814134417em 1.0726522601em 7px rgba(255, 225, 0, 0.9), 1.8458293986em 0.8340197602em 7px rgba(133, 255, 0, 0.9), 0.1480901747em -0.0282587557em 7px rgba(255, 0, 57, 0.9), 1.5937106934em 1.2516090223em 7px rgba(0, 255, 225, 0.9), 0.5619354393em -0.1738822818em 7px rgba(137, 255, 0, 0.9), 2.3988774385em 0.8661558893em 7px rgba(0, 255, 107, 0.9), 1.4289612945em 0.7964380783em 7px rgba(0, 198, 255, 0.9), 0.7458830665em 0.448882831em 7px rgba(12, 0, 255, 0.9), -0.1324998544em 0.0577684443em 7px rgba(0, 255, 195, 0.9), 0.1012387554em -0.2176869977em 7px rgba(255, 50, 0, 0.9), 2.0841881513em 0.2207474392em 7px rgba(33, 0, 255, 0.9), 1.7337383748em 1.2873613549em 7px rgba(16, 0, 255, 0.9);
    animation-duration: 43s;
    animation-delay: -32s;
  }
  
  head::before {
    text-shadow: 1.8007488814em 0.9909075603em 7px rgba(0, 253, 255, 0.9), -0.0330170944em -0.4574924799em 7px rgba(19, 0, 255, 0.9), 2.4105498801em 0.0676968327em 7px rgba(255, 152, 0, 0.9), 1.7862051419em 1.2951882826em 7px rgba(80, 0, 255, 0.9), -0.3209249505em 0.1211819245em 7px rgba(27, 255, 0, 0.9), -0.487251141em -0.4174933413em 7px rgba(168, 255, 0, 0.9), 0.8428566336em 1.5028633643em 7px rgba(255, 111, 0, 0.9), 2.1100849158em -0.4836550467em 7px rgba(82, 255, 0, 0.9), 0.7491105222em 0.8310127361em 7px rgba(255, 0, 173, 0.9), 1.1571828573em -0.0201798884em 7px rgba(0, 255, 78, 0.9), 0.6743766719em -0.3962828909em 7px rgba(0, 255, 165, 0.9), 2.1679241447em 2.2960632414em 7px rgba(255, 152, 0, 0.9), 1.0262586334em -0.3566696914em 7px rgba(255, 48, 0, 0.9), 1.9884325793em 0.2904490072em 7px rgba(0, 82, 255, 0.9), 0.06781397em 0.6040848307em 7px rgba(0, 255, 43, 0.9), 0.7328010502em 0.4729146094em 7px rgba(0, 255, 153, 0.9), 2.0019734769em 0.1468510204em 7px rgba(192, 255, 0, 0.9), 0.3819590638em 0.6507932342em 7px rgba(0, 251, 255, 0.9), 2.0448084711em 1.2385670437em 7px rgba(226, 0, 255, 0.9), 1.6716769897em 1.274563787em 7px rgba(0, 193, 255, 0.9), 2.0937707727em -0.2586007365em 7px rgba(121, 0, 255, 0.9), 1.8856955942em 0.1916037702em 7px rgba(255, 80, 0, 0.9), 1.4581590539em 1.4485840969em 7px rgba(0, 148, 255, 0.9), -0.0156023072em 0.2101958451em 7px rgba(0, 255, 216, 0.9), 1.1197902483em 1.9292814378em 7px rgba(0, 255, 41, 0.9), 0.2661947562em -0.1677068457em 7px rgba(255, 189, 0, 0.9), 1.3374693231em 1.2916566521em 7px rgba(190, 0, 255, 0.9), 0.5220171293em 0.4041429093em 7px rgba(115, 0, 255, 0.9), 1.1899416607em 1.6716378621em 7px rgba(0, 255, 94, 0.9), -0.025194303em 1.0994075917em 7px rgba(255, 165, 0, 0.9), 0.7459164767em 1.1003342776em 7px rgba(177, 255, 0, 0.9), -0.1789150329em 2.4241109487em 7px rgba(62, 0, 255, 0.9), 0.6155489959em 2.1829157082em 7px rgba(4, 255, 0, 0.9), 2.4226058551em 1.8554631693em 7px rgba(0, 95, 255, 0.9), 1.6721257876em 2.2793614176em 7px rgba(255, 0, 23, 0.9), 1.0716809952em 1.0783841563em 7px rgba(0, 112, 255, 0.9), 0.6949882945em 2.2008147441em 7px rgba(87, 255, 0, 0.9), -0.154875967em 1.3260327881em 7px rgba(204, 255, 0, 0.9), 0.3920093397em 0.8636894386em 7px rgba(81, 0, 255, 0.9), -0.2859497543em 1.8119577531em 7px rgba(88, 255, 0, 0.9), 1.6651231875em 1.7349042608em 7px rgba(0, 255, 213, 0.9);
    animation-duration: 42s;
    animation-delay: -23s;
  }
  
  head::after {
    text-shadow: -0.4811094686em 2.1565443069em 7px rgba(187, 0, 255, 0.9), -0.0095623696em 1.3384817199em 7px rgba(51, 255, 0, 0.9), 1.7391804816em 1.2643329131em 7px rgba(19, 255, 0, 0.9), -0.1403244072em 1.8736189092em 7px rgba(255, 82, 0, 0.9), 0.2718269321em 1.6865843402em 7px rgba(255, 91, 0, 0.9), 0.598985043em 2.1980886601em 7px rgba(0, 255, 66, 0.9), 2.3218964802em 1.1667054126em 7px rgba(121, 255, 0, 0.9), 1.6974220714em 2.0612081737em 7px rgba(236, 255, 0, 0.9), 2.231431169em 0.40377052em 7px rgba(255, 0, 64, 0.9), 1.5287628471em 0.2526182277em 7px rgba(198, 255, 0, 0.9), 1.9725577779em 2.4194111077em 7px rgba(0, 255, 25, 0.9), -0.0961378188em -0.0592306724em 7px rgba(255, 113, 0, 0.9), 2.024951771em 2.1220853696em 7px rgba(0, 255, 134, 0.9), 1.1602484796em 1.9161364402em 7px rgba(255, 0, 111, 0.9), 0.3473743503em 0.1724328794em 7px rgba(32, 255, 0, 0.9), 1.2763372645em 1.4998534059em 7px rgba(0, 255, 9, 0.9), 2.0344582876em 0.5838163773em 7px rgba(255, 125, 0, 0.9), 0.6522241239em 1.5963257911em 7px rgba(33, 0, 255, 0.9), 0.5707894623em 2.1528788932em 7px rgba(118, 0, 255, 0.9), 2.3924554588em 1.5006292641em 7px rgba(0, 228, 255, 0.9), 1.2036310728em 1.2451172499em 7px rgba(255, 0, 73, 0.9), 0.1456682611em 1.0096714255em 7px rgba(105, 0, 255, 0.9), -0.3489561602em -0.4243496489em 7px rgba(0, 79, 255, 0.9), 1.9985994001em 0.9329298242em 7px rgba(165, 0, 255, 0.9), 1.6765275082em -0.4987846022em 7px rgba(55, 255, 0, 0.9), 2.2848116033em 2.0245171062em 7px rgba(255, 18, 0, 0.9), 0.1092333437em 0.2833239265em 7px rgba(160, 0, 255, 0.9), 0.685978014em -0.420933967em 7px rgba(255, 0, 54, 0.9), 0.0480324755em 2.3078459087em 7px rgba(255, 153, 0, 0.9), 1.007008599em 0.4921966088em 7px rgba(191, 0, 255, 0.9), 2.2653748251em 1.7778434349em 7px rgba(180, 0, 255, 0.9), 0.9119214232em -0.2311308445em 7px rgba(0, 255, 144, 0.9), 0.5740845653em 1.270925867em 7px rgba(255, 53, 0, 0.9), 2.2078464528em 2.3929434174em 7px rgba(76, 0, 255, 0.9), -0.4672848236em 1.3819598256em 7px rgba(0, 255, 181, 0.9), 0.2989208425em 1.5751434061em 7px rgba(31, 255, 0, 0.9), 1.5860488385em 0.2589555871em 7px rgba(255, 156, 0, 0.9), 1.3704555409em -0.2196993311em 7px rgba(85, 255, 0, 0.9), 1.0739244838em 1.2652852572em 7px rgba(199, 255, 0, 0.9), 1.735131303em -0.0886973157em 7px rgba(69, 255, 0, 0.9), 2.4505273939em 1.2378336726em 7px rgba(255, 0, 222, 0.9);
    animation-duration: 41s;
    animation-delay: -19s;
  }
  
  @keyframes move {
    from {
      transform: rotate(0deg) scale(12) translateX(-20px);
    }
    to {
      transform: rotate(360deg) scale(18) translateX(20px);
    }
  }
 */



.headerinfo {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:azure;
  

}

.navbar{

   display: flex;
   justify-content: space-around;
   background-color:cornflowerblue;
   height: 40px;
   align-items: center;
   border-radius: 10px;
   
}

.navbar a{

    font-size: large;
    color:#E00AE6;
   
    

}

.navbar a:hover{
    /* background-color: darksalmon; */
    color:black;
}

